<!DOCTYPE>
<html>
    <head>
            <title>{{pageDate.title}}</title>
            {{> header}}
    </head>
    
    <body>
        {{> navbar}}
        <div class="container">
            {{pageDate.title}}
            {{> footer}}
        </div>
    
    </body>
    
</html>