<!DOCTYPE>
<html>
    <head>
            <title>{{pageDate.title}}</title>
    </head>
    
    <body>
        <h1>{{pageDate.body}}</h1>
    <footer>
        Copyright @{{currentYear}}
    </footer>
    </body>
    
</html>